<h2>Here is your current list of homes:</h2>
<ul>
  <% @user.homes.each do |home| %>
    <h1><%= link_to home.name, user_user_home_path(@user, home.id) %></h1>
    <li>House ID: <%= home.id  %></li>
    <li>Address: <%= home.address %></li>
    <li>User ID(s): <%= home.user_ids  %></li>
  <% end %>
</ul>

<%= link_to "Add Another Home", new_user_user_home_path %>