<p><%= @home.weather_description.capitalize %></p>
<p>Current Temperature: <%= @home.current_temp.round %>°</p>
<p>Feels Like: <%= @home.feels_like.round %>°</p>
<p>Sunrise: <%= Time.at(@home.sunrise).strftime("%I:%M%P") %></p>
<p>Sunset: <%= Time.at(@home.sunset).strftime("%I:%M%P") %></p>
