<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row h-100">
    <div class="col-sm-12 my-auto">
      <div class="card card-block w-50 p-3 mx-auto">
        <form class="form-signin">
          <br><img class="mb-4 mx-auto my-auto" src="https://img.icons8.com/office/160/000000/home.png" alt="" width="72" height="72"><br>
          <h1 class="h3 mb-3 font-weight-normal text-center">HomeBoard</h1>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
          <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.submit "Sign in", class: 'btn btn-primary' %><br>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>